@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&family=Righteous&display=swap');

body {
  font-family: 'Recursive', sans-serif;
}

body {
  background-color: #FB6B6B;
}

ion-icon[name="close-circle"] {
  color: #FF3030;
}

ion-icon[name="help-circle"] {
  color: #FF922E;
}

ion-icon[name="checkmark-circle"] {
  color: #2FBE34;
}

ion-icon {
  font-size: 24px;
}

.start-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.logo {
  font-family: 'Righteous', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  text-align: center;
  line-height: 44px;
  color: #FFFFFF;
}

.start-container .logo {
  flex-direction: column;
}

.start-container .logo img {
  width: 136px;
  height: 160px;
  margin-bottom: 14px;
}

.start-container select,
.start-container button,
.start-container input {
  background-color: #FFFFFF;
  width: 246px;
  border: none;
  border-radius: 5px;
}

.start-container select {
  font-size: 14px;
  height: 44px;
  color: #ADADAD;
  padding: 0 10px;
  margin-top: 26px;
}

.start-container input {
  height: 44px;
  font-size: 14px;
  padding: 0 10px;
  outline: none;
  margin: 18px 0;
  color: #FB6B6B;
}

.start-container input:disabled {
  background-color: #E8E8E8;
}

.start-container input::placeholder {
  color: #ADADAD;
}

.start-container button {
  border: 1px solid #D70900;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 18px;
  height: 54px;
  color: #D70900;
}

.start-container button:disabled {
  background-color: #E8E8E8;
  color: #C0C0C0;
  border: none;
  box-shadow: none;
}

.content {
  height: 100%;
  width: 100%;
}

.content .logo {
  flex-direction: row;
  margin: 48px 0;
}

.content .logo img {
  width: 52px;
  height: 60px;
  margin-right: 16px;
}

.flashcards {
  margin: 8px 38px 178px;
  display: flex;
  flex-direction: column;
}

.flashcard {
  background-color: #FFFFFF;
  padding: 0 16px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.flashcard.didnt-remember {
  text-decoration: line-through;
  color: #FF3030;
}

.flashcard.almost {
  text-decoration: line-through;
  color: #FF922E;
}

.flashcard.remembered {
  text-decoration: line-through;
  color: #2FBE34;
}

.flashcard:not(:last-child) {
  margin-bottom: 26px;
}

.flashcard .question-title {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
}

.question-container {
  position: relative;
  padding: 6px 0;
  width: 100%;
  min-height: 136px;
  display: flex;
}

.question-container h2 {
  margin: 12px 0 14px;
  font-size: 18px;
  color: #333333;
  word-break: break-word;
}

.question-container .question img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30px;
  height: 20px;
}

.question-container .face {
  width: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.question-container .answer {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.question-container.turned .answer {
  transform: rotateY(0deg);
}

.question-container.turned .question {
  transform: rotateY(-180deg);
}

.question-container .answer .buttons {
  display: flex;
  justify-content: space-between;
}

.question-container .answer .buttons button {
  width: 84px;
  height: 36px;
  font-size: 12px;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.question-container .answer .buttons button:hover {
  cursor: pointer;
}

.question-container button.red {
  background-color: #FF3030;
}

.question-container button.yellow {
  background-color: #FF922E;
}

.question-container button.green {
  background-color: #2FBE34;
}

.footer {
  width: 100%;
  background-color: #FFFFFF;
  font-size: 18px;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
  text-align: center;
  padding: 16px 66px;
}

.end-message .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.end-message .title img {
  margin-right: 12px;
  width: 22px;
  height: 22px;
}

.end-message p {
  margin: 14px 0;
}

.footer .completed {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
